*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial,sans-serif;
}
:root{
    --primary-color:#ff6348;
    --secondary-color:#2d3436;
    --acent-color:#00b894;
    --transition:all 0.3s ease-in-out;
    --text-color:#2d3436;
}
.header{
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center; 
    background: rgba(255, 255, 255,0.95);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
    box-shadow: 0 2px 20px rgba(0, 0, 0,0.1);
    transition: var(--transition);


}
.header:hover{
    box-shadow: 0 2px 20px rgba(0, 0, 0,0.60);
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
    font-size: 24px;
    transition: var(--transition);
}
.logo:hover{
    transform: scale(1.15);
}
.logo i{
    animation: bounce 2s infinite ;
}
@keyframes bounce{
    0%,
    100%{
    transform:translateY(0);}
    50%{transform:translateY(-10px);}
}
.nav-links{
    display: flex;
    gap: 30px;
    list-style:none;
}
.nav-links a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    position: relative;
    padding: 5px o;
    transition: var(--transition);
}
/* suido class after */
.nav-links a::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: var(--transition);


}
.nav-links a:hover::after{
    width: 100%;
}
.nav-links a:hover{

    color:var(--primary-color)
}
.quote-btn{
    background: var(--primary-color);
    padding: 12px 24px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: var(--transition);
    

}
.quote-btn ::before{

    content: "";
    position: absolute;
    top: 0;
    left:-100px;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,transparent,rgba(255,255,255,0.3),transparent);
    transition: var(--transition);

}
.quote-btn:hover::before{
    left: 100%;
}
.quote-btn:hover{
    transform:translateY(-3px);
    box-shadow: 0 5px rgba(0, 0, 0,0.47);
}
.slider{
    margin-top: 80px;
    position: relative;
    height: calc(100vh-60px);

}
.slide{
    position: absolute;
    top: 300%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.8s ease-in-out;
    display: flex;
    padding: 50px;
    opacity: 0;
    align-items: center;
    justify-content: space-between;

}
.slide.active{

    opacity: 1;
    animation: slideIn 1s ease-out;
}
@keyframes slideIn {
   from{
    transform:translateX(100px);
    opacity: 0;
   }
   to{
    transform: translateX(0);
    opacity: 1;
   }
    
}
.slide-content{
    max-width: 50%;
    opacity: 0;
    transform: translateY(20px);
    animation: fadein 1s forwards;
    animation-delay: 0.5s;
}
@keyframes fadein {
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}
h1{
    font-size: 64px;
    margin-bottom: 30px;
    
    background: linear-gradient(45deg,var(--primary-color),var(--acent-color));
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    animation: gradienttext 2s infinite;

}
/* @keyframes gradienttext {
    0%{
        background-position: 0% 50%;

    }
50%{
    background: 100% 50%;
}
100%{
    background: 0% 50%
}
    
} */
P{
    color: var(--text-color);
    margin-bottom: 30px;
    line-height: 1.6;
    transform: translateY(20px);
    animation: fadein 1s forwards;
    animation-delay: 0.7s;
    opacity: 0;
}
.shop-btn,.contact-btn{
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
    display: inline-block;
    z-index: 1;

}
.shop-btn{
    background:var(--primary-color);
    color: white;

}
.contact-btn{
    background:var(--secondary-color);
    color: white;

}
.slide-image{
    transform: translateX(50px);
    opacity: 0;
    animation: fadeinright 1s forwards;
    animation-delay: 0.9s;
}
@keyframes fadeinright {
    to{
        transform: translateX(0);
        opacity: 1;
    }
    
}

.slider-nav button{
    background: var(--primary-color);
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    position: relative;
}
.slide-nav button:hover{
    transform: scale(1.1);
    box-shadow: 0 15px 15px rgba(0,0,0,0.319);
}
.button i.fa-search{
    transition: var(--transition);
    cursor: pointer;

}
.button i.fa-search:hover{
    transform: scale(1.2) rotate(-10deg)  ;

color: var(--primary-color);}
.menu-toggle{
    display: none;
    font-size: 24px;
    cursor: pointer;
    transition: var(--transition);
}
.menu-toggle:hover{
    transform:rotate(180deg);
    color: var(--primary-color);

}
.slide-image img{
    max-width: 100%;

}
/* responsiveness banauna */
@media(max-width:768px){
    .headder{
        padding:20px;
    }
    .nav-links{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        padding: 20px;
        background-color: white;
    }
    .nav-links.open{
        display: flex;

    }
    .menu-toggle{
        display: block;
    }
    .slide{
        flex-direction: column;
        text-align: center;
        padding: 20px;
        padding-top: 4rem;

    }
    .slide-nav{
        padding-top: 4rem;

    }
    .slide-content{
        max-width: 100%;
        margin-bottom: 30px;
    }
    h1{
        font-size: 36px;
    }
    img{
        max-width: 100%;
    }
}